$background-main: #F3F7FA;
$background-hover: #F1FCFF;
$text-primary: #4A4A4A;
$text-secondary: #211C1C;
$text-hint: #A0B0B9;
$text-accent: #2196F3;
$border-initial: #9ABBCE;
$border-blue: #DFE5EC;
$primary: #007bff;
$secondary: #6c757d;
