$background-main: #f3f7fa;
$background-hover: #f1fcff;
$text-primary: #4a4a4a;
$text-secondary: #211c1c;
$text-hint: #a0b0b9;
$text-accent: #2196f3;
$border-initial: #9abbce;
$border-blue: #dfe5ec;
$primary: #007bff;
$secondary: #6c757d;
